<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo.png">
    <!-- <link rel="stylesheet" href="/css/peliculas.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Lista de Populares</title>
    <style>
        .logo {
            width: 100px;
        }
    </style>
</head>
<div class="modal" tabindex="-1" id="exampleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="text-center">Bienvenido a <strong>themoviedb</strong>!</p>
                <p class="text-center">Disfruta viendo lo que buscas</p>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="logo.png" style="width:450px; height:250px;">
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary text-white" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#exampleModal').modal('show');
    });
</script>

<body class="yep bg-dark">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html"><img src="logo.png" alt="logo TMDB" class="img-fluid logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Películas</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/html/Peliculas/pPopulares.html">Populares</a></li>
                            <li><a class="dropdown-item" href="/html/Peliculas/pAhora.html">En cartelera hoy</a></li>
                            <li><a class="dropdown-item" href="/html/Peliculas/pProximas.html">Próximamente</a></li>
                            <li><a class="dropdown-item" href="/html/Peliculas/pValoradas.html">Mejor valoradas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Programas de televisión</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" @click="im" href="/html/Tv/populares.html">Populares</a></li>
                            <li><a class="dropdown-item" href="/html/Tv/ahora.html">En emision hoy</a></li>
                            <li><a class="dropdown-item" href="/html/Tv/enTv.html">En television</a></li>
                            <li><a class="dropdown-item" href="/html/Tv/valoradas.html">Mejor valoradas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/html/personas/populares.html">Populares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/html/Peliculas/categorias.html">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/html/Peliculas/buscar.html">Buscar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="contenedor" id="verPelis">
        <div class="botones">
            <button class="btn btn-outline-primary" @click="populares='streaming'">Streaming</button>
            <button class="btn btn-outline-primary" @click="populares='tv' , media='tv'">TV</button>
            <button class="btn btn-outline-primary" @click="populares='alquiler', media='movie'">Alquiler</button>
            <button class="btn btn-outline-primary" @click="populares='cine', media='movie'">Cine</button>
        </div>
        <div class="">
            <div class="populares mb-5" v-if="populares=='streaming'">
                <div class="text-center">
                    <h3 class="text-white">
                        Películas más populares en streaming
                    </h3>
                </div>
                <div class="ver">
                    <div class="pelis">
                        <div class="d-flex overflow-scroll">
                            <div class="targeta" v-for="p in poStreaming ">
                                <div class="text-center">
                                    <img class="poster" v-bind:src="imgRoute + p.poster_path" width="240" src=>
                                </div>
                                <div>
                                    <p class="text-white">{{p.name}}</p>
                                    <p class="text-white">{{p.title}}</p>
                                    <p class="text-white">{{p.release_date}}</p>
                                    <p class="text-white">{{p.first_air_date}}</p>
                                </div>
                                <div class="text-center">
                                    <button @click="detalles(p)" class="btn btn-primary">Detalles</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="populares" v-if="populares=='tv'">
                <div class="ver">
                    <div class="text-center">
                        <h3 class="text-white">
                            Populares en TV
                        </h3>
                    </div>
                    <div class="pelis">
                        <div class="d-flex overflow-scroll">
                            <div class="targeta" v-for="p in poTv">
                                <div class="text-center">
                                    <img class="poster" v-bind:src="imgRoute + p.poster_path" width="240" src=>
                                </div>
                                <div>
                                    <p class="text-white">{{p.name}}</p>
                                    <p class="text-white">{{p.title}}</p>
                                    <p class="text-white">{{p.release_date}}</p>
                                    <p class="text-white">{{p.first_air_date}}</p>
                                </div>
                                <div class="text-center">
                                    <button @click="detalles(p)" class="btn btn-primary">Detalles</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="populares" v-if="populares=='alquiler'">
                <div class="ver">
                    <div class="text-center">
                        <h3 class="text-white">
                            Películas más populares en alquiler
                        </h3>
                    </div>
                    <div class="pelis">
                        <div class="d-flex overflow-scroll">
                            <div class="targeta" v-for="p in poAlquiler">
                                <div class="text-center">
                                    <img class="poster" v-bind:src="imgRoute + p.poster_path" width="240" src=>
                                </div>
                                <div>
                                    <p class="text-white">{{p.name}}</p>
                                    <p class="text-white">{{p.title}}</p>
                                    <p class="text-white">{{p.release_date}}</p>
                                    <p class="text-white">{{p.first_air_date}}</p>
                                </div>
                                <div class="text-center">
                                    <button @click="detalles(p)" class="btn btn-primary">Detalles</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="populares" v-if="populares=='cine'">
                <div class="ver">
                    <div class="text-center">
                        <h3 class="text-white">
                            Películas más populares en cine
                        </h3>
                    </div>
                    <div class="pelis">
                        <div class="d-flex overflow-scroll">
                            <div class="targeta" v-for="p in poCine">
                                <div class="text-center">
                                    <img class="poster" v-bind:src="imgRoute + p.poster_path" width="240" src=>
                                </div>
                                <div>
                                    <p class="text-white">{{p.name}}</p>
                                    <p class="text-white">{{p.title}}</p>
                                    <p class="text-white">{{p.release_date}}</p>
                                    <p class="text-white">{{p.first_air_date}}</p>
                                </div>
                                <div class="text-center">
                                    <button @click="detalles(p)" class="btn btn-primary">Detalles</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="botonera">
            <button class="btn btn-outline-primary" @click="gratis='tv', media='tv'">TV</button>
            <button class="btn btn-outline-primary" @click="gratis='peliculas', media='movie'">Películas</button>
        </div>
        <div class="apartado">
            <div class="populares" v-if="gratis=='peliculas'">
                <div class="ver">
                    <div class="text-center">
                        <h3 class="text-white">
                            Ver gratis en películas
                        </h3>
                    </div>
                    <div class="pelis">
                        <div class="d-flex overflow-scroll">
                            <div class="targeta" v-for="p in grPeliculas">
                                <div class="text-center">
                                    <img class="poster" v-bind:src="imgRoute + p.poster_path" width="240" src=>
                                </div>
                                <div>
                                    <p class="text-white">{{p.name}}</p>
                                    <p class="text-white">{{p.title}}</p>
                                    <p class="text-white">{{p.release_date}}</p>
                                    <p class="text-white">{{p.first_air_date}}</p>
                                </div>
                                <div class="text-center">
                                    <button @click="detalles(p)" class="btn btn-primary">Detalles</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="populares" v-if="gratis=='tv'">
                <div class="ver">
                    <div class="text-center">
                        <h3 class="text-white">
                            Ver gratis en TV
                        </h3>
                    </div>
                    <div class="pelis">
                        <div class="d-flex overflow-scroll">
                            <div class="targeta" v-for="p in grTv">
                                <div class="text-center">
                                    <img class="poster" v-bind:src="imgRoute + p.poster_path" width="240" src=>
                                </div>
                                <div>
                                    <p class="text-white">{{p.name}}</p>
                                    <p class="text-white">{{p.title}}</p>
                                    <p class="text-white">{{p.release_date}}</p>
                                    <p class="text-white">{{p.first_air_date}}</p>
                                </div>
                                <div class="text-center">
                                    <button @click="detalles(p)" class="btn btn-primary">Detalles</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="apartado">

                <div class="botonera">
                    <button class="btn btn-outline-primary" @click="tendencia='hoy'">Hoy</button>
                    <button class="btn btn-outline-primary" @click="tendencia='semana'">Esta Semana</button>
                </div>
                <div class="populares" v-if="tendencia=='hoy'">
                    <div class="ver">
                        <div class="text-center">
                            <h3 class="text-white">
                                Tendencias hoy
                            </h3>
                        </div>
                        <div class="pelis">
                            <div class="d-flex overflow-scroll">
                                <div class="targeta" v-for="p in tenHoy">
                                    <div class="text-center">
                                        <img class="poster" v-bind:src="imgRoute + p.poster_path" width="240" src=>
                                    </div>
                                    <div>
                                        <p class="text-white">{{p.name}}</p>
                                        <p class="text-white">{{p.title}}</p>
                                        <p class="text-white">{{p.release_date}}</p>
                                        <p class="text-white">{{p.first_air_date}}</p>
                                    </div>
                                    <div class="text-center">
                                        <button @click="detalles(p)" class="btn btn-primary">Detalles</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="populares" v-if="tendencia=='semana'">
                    <div class="ver">
                        <div class="text-center">
                            <h3 class="text-white">
                                Tendencias esta semana
                            </h3>
                        </div>
                        <div class="pelis">
                            <div class="d-flex overflow-scroll">
                                <div class="targeta" v-for="p in tenSem">
                                    <div class="text-center">
                                        <img class="poster" v-bind:src="imgRoute + p.poster_path" width="240" src=>
                                    </div>
                                    <div>
                                        <p class="text-white">{{p.name}}</p>
                                        <p class="text-white">{{p.title}}</p>
                                        <p class="text-white">{{p.release_date}}</p>
                                        <p class="text-white">{{p.first_air_date}}</p>
                                    </div>
                                    <div class="text-center">
                                        <button @click="detalles(p)" class="btn btn-primary">Detalles</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="../js/pPopulares.js"></script>
</body>

</html>