<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/peliculas.css">
    <title>Detalles</title>
</head>

<body class="bg-dark ">

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../home.html"><img src="../logo.png" alt="logo TMDB" class="img-fluid logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../home.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Películas</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../Peliculas/pPopulares.html">Populares</a></li>
                            <li><a class="dropdown-item" href="../Peliculas/pAhora.html">En cartelera hoy</a></li>
                            <li><a class="dropdown-item" href="../Peliculas/pProximas.html">Próximamente</a></li>
                            <li><a class="dropdown-item" href="../Peliculas/pValoradas.html">Mejor valoradas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Programas de televisión</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" @click="im" href="../Tv/populares.html">Populares</a></li>
                            <li><a class="dropdown-item" href="../Tv/ahora.html">En emision hoy</a></li>
                            <li><a class="dropdown-item" href="../Tv/enTv.html">En television</a></li>
                            <li><a class="dropdown-item" href="../Tv/valoradas.html">Mejor valoradas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="populares.html">Populares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../Peliculas/categorias.html">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../Peliculas/buscar.html">Buscar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="contenedor" id="perfil">
        <div class="col">
            <button @click="back" class="btn btn-primary">Regresar</button>
        </div>
        <div class="super">


            <h4 class="text-white text-center">
                Persona Popular:
            </h4>
            <div class="container">
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="img-thumbnail" v-bind:src="imgRoute + profile_path" width="330">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="text-dark card-title">
                                    <strong>{{name}}</strong>
                                </div>

                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button text-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Bibliografia:
                                </button>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <p> <em>{{biography}}</em> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-dark">
                                    Conocido por: {{departament}}
                                </div>
                                <div class="text-dark d-flex">
                                    Tambien conocido como:
                                    <p v-for="n in also_known_as">
                                        {{n}} ,
                                    </p>
                                </div>
                                <div class="text-dark">
                                    Fecha de nacimiento: {{birthday}}
                                </div>
                                <div class="text-dark">
                                    Lugar de nacimiento: {{place_of_birth}}
                                </div>
                                <div class="text-dark">
                                    Genero: {{gender}}
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-white text-center">
                Peliculas relacionadas con el Actor/Actris:
            </div>
            <div class="container shadow-lg">
                <div class="d-flex overflow-scroll">
                    <div class="" v-for="p in peliculas">
                        <div class="text-center">
                            <img class="poster" v-bind:src="imgRoute + p.poster_path" width="150" height="200" src=>
                        </div>
                        <div>
                            <p class="text-white">{{p.name}}</p>
                            <p class="text-white">{{p.title}}</p>
                            <p class="text-white">{{p.release_date}}</p>
                            <p class="text-white">{{p.first_air_date}}</p>
                        </div>
                        <div class="text-center">
                            <button @click="detalles(p)" class="btn btn-primary">Detalles</button>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="../../js/perfil.js"></script>
</body>

</html>